img {
    width: 10px;
    height: 10px;
}

.main__function {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--lgray);
    margin: 45px 25px 0px 25px;
    padding-bottom: 30px;
}
.main__function__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__function__icon>div {
    margin-top: 30px;
}
.main__function__icon>span {
    width: 27px;
    height: 27px;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.main__recommend {
    margin: 15px 25px 0px 25px;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--lgray);
}
.main__recommend div:first-child {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.main__recommend div:last-child {
    margin: 100px 0px;
}
.main__openchat {
    margin: 15px 25px 0px 25px;
}
.main__openchat__title {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: var(--gray);
}
.main__openchat__title>div:first-child {
    font-weight: bold;
}
.main__openchat__content {
    margin-top: 10px;
}
.main__openchat__content__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
}
.main__openchat__content__textbox {

}
.main__openchat__content__textbox>div {
    margin-bottom: 10px;
    color: var(--gray);
}
.main__openchat__content__textbox>div:first-child {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.main__openchat__content__box:first-child {
    border-bottom: 2px solid var(--lgray);
}
.main__openchat__content__box>div:last-child>img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
}
.main__openchat__content__box>div:last-child>div {
    min-width: 40px;
    height: 25px;
    background-color: rgb(15, 15, 15, 0.5);
    display: flex;
    color: white;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    position: absolute;
    bottom: 20px;
    right: 7px;
}
.main__openchat__content__box>div:last-child>div>div {
    font-size: 14px;
}
.main__openchat__content__textbox>div:last-child>span:last-child {
    color: rgb(255, 86, 213);
    font-size: bold;
}
.main__openchat__content__textbox>div:last-child>img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.main__openchat__content__textbox>div:last-child {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes heartBeat{
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(1.5);
    }
    100% {
        color: white;
        transform: none;
    }
}

.main__openchat__content__box>div:last-child>div:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}