.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--lgray);
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: tomato;
    position: absolute;
    left: 20px;
    bottom:20px;
    color: white;
    font-weight: 600;
}
.nav__notification2 {
    position: absolute;
    left: 35px;
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 2.5px;
}
.main__bar {
    background-color: var(--lgray);
    padding: 15px 0px;
    text-align: center;
}
.main__bar .fas {
    margin: 0px 5px;
}
.main__profile {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    padding: 15px 0px;
    border-bottom: 1px solid var(--lgray);
}
.main__profile__name {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}