.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--lgray);
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
}