.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    margin-top: 45px;
}
.main__text {
    font-size: 30px;
    font-weight: 600;
}
.main__icon .fas{
    margin: 0px 9px;
}
.main__icon>button {
    background-color: white;
}