.main__profile {
    display: flex;
    margin: 0px 15px;
    padding: 15px 0px;
    border-bottom: 1px solid var(--lgray);
}
.main__profile__chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    padding: 15px 0px;
}
.main__profile__chat>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.main__profile__chat>div:last-child>img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 0px 10px 0px 5px;
    border: 1px solid var(--lgray);
}
.main__profile__name {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.main__channel {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    padding: 15px 0px;
    color: var(--gray);
}
.main__channel__icon {
    display: flex;
    margin: 0px 15px;
    padding: 15px 0px;
    align-items: center;
}
.main__channel__icon__img {
    width: 50px;
    height: 50px;
    border-radius: 19px;
}
.main__channel__icon__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main__channel__icon__box > span {
    color: var(--gray);
}
.main__channel__name {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.main__profile__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.main__profile__img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 0px 10px 0px 5px;
}
.main__profile__subtitle {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: var(--gray);
}
.main__profile__text div:last-child {
    
}
.main__profile__time {
    font-size: 13px;
    color: var(--gray);
    padding-right: 17px;
}
.main__profile__circle {
    width: 23px;
    height: 23px;
    border-radius: 12px;
    background-color: #ff6446;
    margin: 5px 0px 0px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}